[submodule "tmux-colors-solarized"]
	path = tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule "tmux-powerline"]
	path = tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "auto-fu.zsh"]
	path = auto-fu.zsh
	url = https://github.com/hchbaw/auto-fu.zsh.git
[submodule "dotemacs.d/elisp/emacs-sound-wav"]
	path = dotemacs.d/elisp/emacs-sound-wav
	url = https://github.com/syohex/emacs-sound-wav.git
[submodule "dotemacs.d/elisp/emacs-zoom-window"]
	path = dotemacs.d/elisp/emacs-zoom-window
	url = https://github.com/syohex/emacs-zoom-window.git
[submodule "powerline-shell"]
	path = powerline-shell
	url = https://github.com/milkbikis/powerline-shell.git
[submodule "vim-powerline"]
	path = vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "zsh-completions"]
	path = zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "platexpdf"]
	path = platexpdf
	url = https://github.com/fjyuu/platexpdf.git
[submodule "zaw"]
	path = zaw
	url = git://github.com/zsh-users/zaw.git
