*.dat
*.txt

dotemacs.d/ddskk
dotemacs.d/el-get

# Emacs tem files
*~
[#]*[#]
.\#*

/.emacs.desktop
/.emacs.desktop.lock
.elc
dotemacs.d/auto-save-list
dotemacs.d/tramp

# Org-mode
.org-id-locations
*_archive