*.dat
*.txt
*.pch
        
dotemacs.d/ddskk
dotemacs.d/el-get
dotemacs.d/recentf
        
# Emacs tempo files
*~
[#]*[#]
.\#*

/.emacs.desktop
/.emacs.desktop.lock
.elc
dotemacs.d/auto-save-list
dotemacs.d/tramp
dotemacs.d/ido.last

# Org-mode
.org-id-locations
*_archive
ido.last
